.hpc-container{
    padding-bottom: 15vh;
}

.element-hpc {
    width: 110px;
    height: 50px;
    background-color: #FFD200;
    transition: transform 0.3s ease;
    color: #00539F;
  }

  .element-hpc-hover {
     transform: scale(1.1);
     color: #FFD200;
  }

  .btn-primary:hover{
    color: #FFD200;
    border: 1px solid #FFD200;
    font-style: italic;
    background-color: #00539F;
  }

  .btn-primary{
    background-color: #FFD200;
    color: #00539F;
  }
  .hpc-container .card {
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    transition: all 0.2s ease-in-out;
    border: none;
  }
  
  .hpc-container .card:hover {
    transform: translateY(-4px);
  }
  