.bg-warning{
    color: #00539F;
    font-size: larger;
    font-weight: bold;
}
.sticky-progress {
    position: sticky;
    top: 0;             
    z-index: 1000;      
    background: #dcdcdc;
    padding: 10px 20px;
    box-shadow: inset 6px 6px 12px #bebebe,
                inset -6px -6px 12px #ffffff;
  }
  
  
  .basic-quiz-container {
    margin-top: 1rem;
  }
  .neu-progress-bar {
    height: 16px;
    border-radius: 10px;
    box-shadow: inset 3px 3px 6px #b5b5b5, inset -3px -3px 6px #ffffff;
  }

  .card {
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px #a3b1c6, -9px -9px 16px #ffffff;
    transition: all 0.2s ease-in-out;
    border: none;
  }

  .card:hover {
    transform: translateY(-4px);
  }